* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #e0d5c0;
    background-color: #0a0807;
    font-family: 'Inter', sans-serif;
}

header {
    width: 100%;
}

.navbar {
    background-color: #0a0807;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100px;
    font-size: 12px;
    letter-spacing: 2px;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 25px;
}

.navbar a {
    color: #e0d5c0;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    background: #e0d5c0;
    color: black;
    padding: 8px;
    border-radius: 5px;
}

.title h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 60px;
    letter-spacing: -4px;
    font-weight: 300;
}

.hero {
    height: 100vh;
    background: url("images/homepage.png") no-repeat center/cover;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.overlay {
    position: relative;
    max-width: 500px;
}

.subtitle {
    letter-spacing: 5px;
    font-size: 12px;
}

.hero h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 80px;
    line-height: 0.9;
}

.desc {
    margin: 20px 0;
    color: #ddd;
}

.hero-actions {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn-filled {
    background: #d6a77a;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
}

.btn-text {
    background: transparent;
    border: none;
    color: #d6a77a;
    border-bottom: 1px solid #d6a77a;
    cursor: pointer;
}

.best-sellers {
    padding: 80px 50px;
    background: radial-gradient(circle at center, #1c1510 0%, #0a0807 100%);
}

.grid {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1.2fr 1.2fr;
}

.col {
    padding: 40px;
    border-right: 1px solid rgba(230, 211, 179, 0.1);
}

.title-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-col h2 {
    font-family: 'Bodoni Moda', serif;
    font-size: 40px;
}

.product {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product img {
    height: 120px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price {
    font-size: 12px;
    color: #888;
}

.product h3 {
    font-size: 14px;
}

.product p {
    font-size: 11px;
    color: #aaa;
}

.shop-link {
    font-size: 10px;
    text-decoration: none;
    color: white;
}

.view-all {
    display: block;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
    color: #888;
}

.footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.541);
    font-size: 14px;
    backdrop-filter: blur(5px);
}

.fade {
    opacity: 0;
    transform: translateY(30px);
    filter: blur(6px);
    transition: all 1.2s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.hero {
    animation: heroReveal 2s ease forwards;
    opacity: 0;
}

@keyframes heroReveal {
    from {
        opacity: 0;
        filter: brightness(0.3);
    }
    to {
        opacity: 1;
        filter: brightness(1);
    }
}

.navbar {
    opacity: 0;
    animation: navReveal 1.2s ease forwards;
}

@keyframes navReveal {
    to {
        opacity: 1;
    }
}

.order-popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(6px);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.order-popup.show {
    opacity: 1;
    pointer-events: all;
}

.popup-box {
    background: #0a0807;
    border: 1px solid rgba(224,213,192,0.2);
    padding: 40px;
    text-align: center;
    max-width: 400px;

    transform: translateY(30px);
    opacity: 0;
    transition: 0.5s ease;
}

.order-popup.show .popup-box {
    transform: translateY(0);
    opacity: 1;
}

.popup-box h2 {
    font-family: 'Bodoni Moda', serif;
    font-size: 40px;
    margin-bottom: 10px;
}

.popup-box p {
    font-size: 14px;
    margin-bottom: 10px;
}

.popup-box span {
    font-size: 12px;
    opacity: 0.6;
}